
<div class="row">
    {% for element in Events %}
    
    <div class="col-xs-12 col-sm-6 col-md-4 py-2">
        <!-- Card -->
        <div class="card">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="{{element._DefaultImage}}" alt="{{element.Event_Title}}">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <h4 class="card-title">{{element.Event_Title}}</h4>
            <!--Text-->
            <p class="card-text">{{element.Description | truncate: 200}}</p>
            <p>{{element.Event_Start_Date | date: '%A - %B %d, %Y @ %l:%M %P'}}</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <div class="text-end">
                <button type="button" class="btn btn-primary">Read more</button>
            </div>
            
      
          </div>
      
        </div>
    
    </div>    
    
    
    {% endfor %}
</div>



    