<div id='calendar'></div>

        <!-- Calendar Modal -->
        <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="eventModalLabel">Event Details</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <p id="eventStart"></p>
                      <p id="eventEnd"></p>
                      <p id="eventDescription"></p>

                      <div class="text-center">
                          <a href="" id="eventUrlButton" target="_blank" class="btn btn-primary">Event Details</a>                          
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>