<div id='calendar'></div>

        <!-- Calendar Modal -->
        <div class="mp-modal" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
          <div class="mp-modal-dialog">
              <div class="mp-modal-content">
                  <div class="mp-modal-header">
                      <h5 class="mp-modal-title" id="eventModalLabel">Event Details</h5>
                      <button type="button" class="mp-btn-close" data-mp-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="mp-modal-body">
                      <p id="eventStart"></p>
                      <p id="eventEnd"></p>
                      <p id="eventDescription"></p>

                      <div class="mp-text-center">
                          <a href="" id="eventUrlButton" target="_blank" class="mp-btn mp-btn-primary">Event Details</a>                          
                      </div>
                  </div>
                  <div class="mp-modal-footer">
                      <button type="button" class="mp-btn mp-btn-secondary" data-mp-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>